.items-list {
  box-shadow: -2px 1px 14px #e5e6e8;
  list-style-type: none;
  margin-left:5%;
  margin-right:5%;
  padding-left:5px;
  padding-top: 20px;
  margin-bottom:15px;
  width: 200px;
  height: 200px;
  overflow: auto;
 
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: right;
  width: 10%;
  padding: 10px;
margin-right: 5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both; 
  display: table;
}

.row .column img {
  float:left;
   height: 50px;
   width: 50px;
   margin-right:5%;

}
  /* contain for each item list */
  .items-list {
  width: auto;
  height: 300px;
  overflow: auto;
  }

  .items-list .Item-name {
    padding-top: 5px;
    margin-top: 5px;
    /* padding-bottom:5px; */
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
  }

  .items-list .Description {
    padding: 5px;
    font-size: 15px;
    overflow: auto;
  }

  .Description::before{
    padding: 5px;
    content: " Description: ";
    font-weight: bold;
    font-size: 15px;
    overflow:auto ;
    }

  .items-list img
  {
  float:left;
   height: 200px;
   margin-right:5%;
   overflow: auto;
  }
  .items-list .righttxt {
   width:100%;
  padding: 10px;
  }
  
  
